
<div class="flex-container flex-center">
  <div id="calendar" class="flex-container flex-column flex-center">
    <div class="alng flex-container flex-center-horz">
      <a class="fa fa-chevron-left" (click)="previousMonth()"></a>
      <a class="width-25px"></a>
      <a class="alng">{{date.format("MMMM")}} {{date.format("YYYY")}}</a>
      <a class="width-25px"></a>
      <a class="fa fa-chevron-right" (click)="nextMonth()"></a>
    </div>
    <div class="height-20px"></div>
    <div class="alng flex-container">
      <a class="calendar-days flex-container flex-center">S</a>
      <a class="calendar-days flex-container flex-center">M</a>
      <a class="calendar-days flex-container flex-center">T</a>
      <a class="calendar-days flex-container flex-center">W</a>
      <a class="calendar-days flex-container flex-center">T</a>
      <a class="calendar-days flex-container flex-center">F</a>
      <a class="calendar-days flex-container flex-center">S</a>
    </div>
    <div class="flex-container flex-wrap">
      <a *ngFor="let day of daysArr">
        <a class="calendar-days flex-container flex-center" [ngClass] = "{'inactive':!day, 'today': todayCheck(day)}" >{{day?.date()}}</a>
      </a>
    </div>
  </div>
</div>
